@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root{
    --color-white: #ffffff;
    --link-orange: #bea32a;
    --border-orange: #b87f15;
    --button-orange: #ffa7039a;
    --footer-moroom: #6e4e3b;
    --color-green: #4F5A67;
    --color-fonte: #f5a30c0c;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

header {
   background-color: var(--color-white);
   width: 100%;
   height: 139px;
   box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.300);
   display: flex;
   justify-content: center;
   align-items: center;
}

main {
    width: 70%;
    margin: auto;
}

h1 {
    margin: 30px auto 10px auto;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 40px;
    border-bottom: 3px solid var(--border-orange);
}

.autores {
    font-weight: 500;
    color: var(--color-green);
    font-size: 15px;
    margin-bottom: -9px;
}

.autores > a {
    text-decoration: none;
    font-weight: 400;
    color: var(--link-orange);
}

.autores > a:hover {
    color: var(--button-orange);
    text-decoration: underline;

}

.data {
    font-weight: 300;
    font-size: 13px;
    color: var(--color-green);
 }

section {
    margin-bottom: 20px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 20px;
    display: inline-block;
    border-bottom: 3px solid var(--border-orange);
}

h3 {
    margin-top: 10px;
    margin-bottom: 20px;
    display: inline-block;
    border-bottom: 3px solid var(--border-orange);
}

p {
    margin-bottom: 15px;
    line-height: 35px;
}

a {
    color: var(--link-orange);
    text-decoration: none;
}

a:hover {
    text-decoration: underline; 
    color: var(--button-orange);  
}
.imagem {
    display: flex;
    justify-content: center;
}

.creditos-da-imagem {
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin-top: 10px;
    color: var(--color-green);
}

.creditos-da-imagem > a {
    color: var(--link-orange);
    text-decoration: none;
    border: 1px solid var(--link-orange);
    padding: 0px 5px 0px 5px;
    border-radius: 10px;
    transition: 0.5s;
    
}

.creditos-da-imagem > a:hover {
    background-color: var(--link-orange);
    border: 1px solid var(--link-orange);
    color: var(--color-white);
}

.fontes {
    border-top: 2px solid var(--border-orange);
    background-color: var(--color-fonte);
    height: 185px;
    margin-bottom: 15px;
}

.fontes > p {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-left: 10px;
    color: var(--color-green);
}

ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.fontes > ul > li {
   display: flex;
   justify-content: center;
   font-size: 15px;
   margin: 10px;
}

.fontes a {
    color: var(--link-orange);
    border: 1px solid var(--link-orange);
    border-radius: 10px;
    padding: 0px 5px 0px 5px;
    text-decoration: none;
    transition: 0.5s;
    
}

.fontes a:hover {
    background-color: var(--link-orange);
    border: 1px solid var(--link-orange);
    color: var(--color-white);
}


footer {
    background-color: var(--footer-moroom);
    padding: 10px;
}

footer > p {
    display: flex;
    justify-content: center;
    color: white;
}

footer > p > a {
    color: var(--link-orange);
    text-decoration: none;
}

footer > p > a:hover {
    text-decoration: underline;
    color: var(--button-orange);
}

@media screen and (max-width: 500px) {

    header {
        height: 110px;
    }

    main {
        width: 90%;
        margin: 0px;
        padding: 20px;

    }

}

@media screen and (max-width: 640px) {
    ul  {
        display: block;
        justify-content: baseline;
    }
}